includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    level: 9
    paths:
        - app
        - tests
    ignoreErrors:
        - message: "#Constant App\\\\Modules\\\\Content\\\\Infrastructure\\\\DataContextService::CASE_LABEL_.* is unused#"
          path: %currentWorkingDirectory%/app/Modules/Content/Infrastructure/DataContextService.php
        - message: "#Constant App\\\\Modules\\\\Content\\\\Infrastructure\\\\DataContextService::CASE_METHOD_.* is unused#"
          path: %currentWorkingDirectory%/app/Modules/Content/Infrastructure/DataContextService.php
        - message: "#Constant App\\\\Modules\\\\Content\\\\Infrastructure\\\\DataContextService::CASE_INPUT_.* is unused#"
          path: %currentWorkingDirectory%/app/Modules/Content/Infrastructure/DataContextService.php
        - message: "#Constant App\\\\Modules\\\\Content\\\\Infrastructure\\\\DataContextService::CASE_TYPE_.* is unused#"
          path: %currentWorkingDirectory%/app/Modules/Content/Infrastructure/DataContextService.php
